@media print {
    body {
        font-family: Arial, sans-serif;
        color: black;
        background: white;
    }

    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .table thead {
            background-color: #ddd;
            color: black;
        }

    /* Ocultar botones e íconos de ordenamiento al imprimir */
    .no-print, button, svg {
        display: none;
    }
}
